<section class="viewblock">
  <header class="viewblock-header">
    <div class="viewblock-header_right">
      <div class="button-padding">
      </div>
    </div>
    <h1 class="default-padding">
      <%= t(:all_model, :model => ConcertoTemplateScheduling::Schedule.model_name.human.pluralize) %>
    </h1>
  </header>
  <div class="viewblock-cont">
    <% if !@schedules.empty? %>
    <table>
      <thead>
        <tr>
          <th><%= ConcertoTemplateScheduling::Schedule.human_attribute_name(:screen_id)%></th>
          <th><%= ConcertoTemplateScheduling::Schedule.human_attribute_name(:template_id)%></th>
          <th><%= t('.display')%></th>
          <th><%= ConcertoTemplateScheduling::Schedule.human_attribute_name(:data)%></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @schedules.each do |schedule| %>
          <tr>
            <td><%= link_to schedule.screen.name, main_app.screen_path(schedule.screen) %></td>
            <td>
              <% if can?(:read, schedule.template) %>
                <%= link_to schedule.template.name, main_app.template_path(schedule.template) %>
              <% else %>
                <%= schedule.template.name %>
                <% end %><br/>
              <%= image_tag main_app.preview_template_path(schedule.template, :height => 60, :format => :png), :style => "margin: 0px;" %>
            </td>
            <td>
              <%= ConcertoTemplateScheduling::Schedule.human_attribute_name(:start_time)%>: <%= l(schedule.start_time, :format => :short_day) %> <%= l(schedule.start_time, :format => :twelve_hour_time) %><br/>
              <%= ConcertoTemplateScheduling::Schedule.human_attribute_name(:end_time)%>: <%= l(schedule.end_time, :format => :short_day) %> <%= l(schedule.end_time, :format => :twelve_hour_time) %><br/>
              <%= t('concerto_template_scheduling.effective') %>: <b><%= schedule.is_effective? ? t(:yes) : t(:no) %></b>
            </td>
            <td>
              <b><%= ConcertoTemplateScheduling::Schedule.display_when_options.key(schedule.config['display_when'].to_i) %></b><br/>
              <% if schedule.config['display_when'].to_i == ConcertoTemplateScheduling::Schedule::DISPLAY_CONTENT_EXISTS %>
                <% if can? :read, schedule.feed %>
                  <%= link_to schedule.feed.name, main_app.feed_path(schedule.feed) %><br/>
                <% else %>
                  <%= schedule.feed.name %><br/>
                <% end %>
              <% elsif schedule.config['display_when'].to_i == ConcertoTemplateScheduling::Schedule::DISPLAY_AS_SCHEDULED %>
                <%= schedule.schedule_in_words %><br/>
              <% end %>

              <% if schedule.config['display_when'].to_i != ConcertoTemplateScheduling::Schedule::DISPLAY_NEVER %>
                <%= schedule.config['from_time'] %> - <%= schedule.config['to_time'] %><br/>
              <% end %>
            </td>
            <td>
              <% if can? :read, schedule %>
                <%= link_to t(:show, :model => ConcertoTemplateScheduling::Schedule.model_name.human), schedule, :class => "btn" %>
              <% end %>
              <% if can? :edit, schedule %>
                <%= link_to t(:edit, :model => ConcertoTemplateScheduling::Schedule.model_name.human), edit_schedule_path(schedule), :class => "btn" %>
              <% end %>
              <% if can? :delete, schedule %>
                  <%= link_to t(:destroy, :model => ConcertoTemplateScheduling::Schedule), schedule, 
          :data => { :confirm => t('concerto_template_scheduling.are_you_sure_delete', :template => schedule.template.name, :screen => schedule.screen.name) }, :method => :delete, :class => "btn" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
      <div class="default-padding">
        <div class="alert alert-block alert-zero">
          <p class="alert-heading"><%= t('.no_templates_scheduled_header') %></p>
          <p><%= t('.no_templates_scheduled_msg') %></p>
        </div>
      </div>
    <%end %>
  </div>
</section>
