<section class="viewblock">
  <header class="viewblock-header">
    <div class="viewblock-header_right">
      <div class="button-padding">
      </div>
    </div>
    <h1 class="default-padding">
      <%= t(:all_model, :model => ConcertoTemplateScheduling::Schedule.model_name.human.pluralize) %>
    </h1>
  </header>
  <div class="viewblock-cont">
    <table>
      <thead>
        <tr>
          <th><%= ConcertoTemplateScheduling::Schedule.human_attribute_name(:screen_id)%></th>
          <th><%= ConcertoTemplateScheduling::Schedule.human_attribute_name(:template_id)%></th>
          <th><%= t('.display')%></th>
          <th><%= ConcertoTemplateScheduling::Schedule.human_attribute_name(:data)%></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @schedules.each do |schedule| %>
          <tr>
            <td><%= schedule.screen.name %></td>
            <td>
              <%= schedule.template.name %><br/>
              <%= image_tag main_app.preview_template_path(schedule.template, :height => 60, :format => :png), :style => "margin: 0px;" %>
            </td>
            <td>
              <%= ConcertoTemplateScheduling::Schedule.human_attribute_name(:start_time)%>: <%= schedule.start_time %><br/>
              <%= ConcertoTemplateScheduling::Schedule.human_attribute_name(:end_time)%>: <%= schedule.end_time %><br/>
              <b><%= ConcertoTemplateScheduling::Schedule::DISPLAY_WHEN.key(schedule.display_when.to_i) %></b>
            </td>
            <td><%= schedule.data %></td>
            <td>
              <% if can? :read, schedule %>
                <%= link_to t(:show, :model => ConcertoTemplateScheduling::Schedule.model_name.human), schedule, :class => "btn" %>
              <% end %>
              <% if can? :edit, schedule %>
                <%= link_to t(:edit, :model => ConcertoTemplateScheduling::Schedule.model_name.human), edit_schedule_path(schedule), :class => "btn" %>
              <% end %>
              <% if can? :delete, schedule %>
                  <%= link_to t(:destroy, :model => ConcertoTemplateScheduling::Schedule), schedule, 
          :data => { :confirm => t('concerto_template_scheduling.are_you_sure_delete', :template => schedule.template.name, :screen => schedule.screen.name) }, :method => :delete, :class => "btn" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
