<section class="viewblock">
  <header class="viewblock-header">

    <div class="viewblock-header_right">
      <div class="button-padding">
        <% if can? :update, @schedule %>
          <%= link_to t(:edit_model, :model => ConcertoTemplateScheduling::Schedule.model_name.human), edit_schedule_path(@schedule), :class => "btn" %>
        <% end %>
        <% if can? :delete, @schedule %>
          <%= link_to t(:destroy_model, :model => ConcertoTemplateScheduling::Schedule.model_name.human), @schedule, :data => { :confirm => t('concerto_template_scheduling.are_you_sure_delete', 
            :template => @schedule.template.name, :screen => @schedule.screen.name) }, 
            :method => :delete, :class => "btn" %>
        <% end %>
      </div>
    </div>

    <div class="default-padding">
      <h1>
        <%= link_to t(:all_model, :model => ConcertoTemplateScheduling::Schedule.model_name.human.pluralize), schedules_path %> &gt; 
        <%= t('.template_for_screen', :template => @schedule.template.name, :screen =>@schedule.screen.name) %>
      </h1>
    </div>

  </header>
  <div class="viewblock-cont">

    <div class="row-fluid">
      <div class="span12">
        <div class="default-padding">
          <div class="subblock">
            <div class="default-padding clearfix">
                  <%= image_tag main_app.preview_template_path(@schedule.template, :height => 200, :format => :png), :style => "margin: 0px 1em 0px 0px;" %>

                  <p><%= ConcertoTemplateScheduling::Schedule.human_attribute_name(:start_time)%>: <%= l(@schedule.start_time, :format => :short_day) %> <%= l(@schedule.start_time, :format => :twelve_hour_time) %></p>
                  <p><%= ConcertoTemplateScheduling::Schedule.human_attribute_name(:end_time)%>: <%= l(@schedule.end_time, :format => :short_day) %> <%= l(@schedule.end_time, :format => :twelve_hour_time) %></p>
                  <p><%= t('concerto_template_scheduling.when')%>: <b><%= ConcertoTemplateScheduling::Schedule::DISPLAY_WHEN.key(@schedule.config['display_when'].to_i) %></b></p>
                  <% if @schedule.config['display_when'].to_i == ConcertoTemplateScheduling::Schedule::DISPLAY_CONTENT_EXISTS %>
                    <% feed = Feed.find(@schedule.config['feed_id'].to_i)
                       feed_name = (feed.blank? ? 'Invalid Feed' : feed.name)
                    %>
                    <p><%= t(:feed) %>: <%= feed_name %></p>
                  <% elsif @schedule.config['display_when'].to_i == ConcertoTemplateScheduling::Schedule::DISPLAY_AS_SCHEDULED %>
                    <p><%=@schedule.schedule_in_words %></p>
                  <% end %>
                  <p><%= ConcertoTemplateScheduling::Schedule.human_attribute_name(:from_time)%>: <%= @schedule.config['from_time'] %></p>
                  <p><%= ConcertoTemplateScheduling::Schedule.human_attribute_name(:to_time)%>: <%= @schedule.config['to_time'] %></p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
