<section class="viewblock">
  <header class="viewblock-header">
    <div class="viewblock-header_right">
      <div class="button-padding">
        <% if can? :update, @screen %>
          <%= link_to t('.add_schedule'), template_scheduling.new_schedule_path(:screen_id => @screen.id), :class => "btn" %>
        <% end %>
      </div>
    </div>

    <div class="default-padding">
      <h1><%= t('.scheduled_templates') %></h1>
    </div>
  </header>
  <div class="viewblock-cont">
    <% if @schedules.empty? %>
      <div class="default-padding">
        <div class="alert alert-block alert-zero">
          <p class="alert-heading"><%= t('.no_templates_scheduled_header') %></p>
          <p><%= t('.no_templates_scheduled_msg') %></p>
        </div>
      </div>
    <% else %>
        <ul class="list-stacked">
          <% @schedules.each do |schedule| %>
            <% if can? :read, schedule.screen %>
              <li class="clearfix">
                <% if can? :update, schedule.screen %>
                  <%= link_to t('.edit_schedule'), template_scheduling.edit_schedule_path(schedule), :class => "btn btn-small pull-right" %>
                <% end %>
                <p class="uppercase"><small><b><%= schedule.template.name %></b></small></p>
                <div>
                  <%= image_tag main_app.preview_template_path(schedule.template, :height => 60, :format => :png), :style => "margin: 0px 1em 0px 0px;", :class => 'pull-left' %>
                  <p>
                    <%= link_to(template_scheduling.schedule_path(schedule)) do %>
                      <%= l(schedule.start_time.to_date, :format => :short) %> - <%= l(schedule.end_time.to_date, :format => :short) %>
                    <% end %> <b><%= schedule.is_effective? ? t(:active) : '' %></b>
                  </p>
                  <p><%= schedule.config['from_time'] %> - <%= schedule.config['to_time'] %></p>
                  <p><%= t('concerto_template_scheduling.when')%>: <b><%= ConcertoTemplateScheduling::Schedule::DISPLAY_WHEN.key(schedule.config['display_when'].to_i) %></b></p>

                  <% if schedule.config['display_when'].to_i == ConcertoTemplateScheduling::Schedule::DISPLAY_CONTENT_EXISTS %>
                    <p>
                      <% if can? :read, schedule.feed %>
                        <%= link_to schedule.feed.name, main_app.feed_path(schedule.feed) %>
                      <% else %>
                        <%= schedule.feed.name %>
                      <% end %>
                    </p>
                  <% elsif schedule.config['display_when'].to_i == ConcertoTemplateScheduling::Schedule::DISPLAY_AS_SCHEDULED %>
                    <p><%= schedule.schedule_in_words %></p>
                  <% end %>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
        <div class="default-padding">
          <p><%= t('.footer') %></p>
        </div>
      <% end %>
  </div>
</section>
<!-- TODO: 
  allow previewing the screen with a selected template
  -->