<section class="viewblock">
  <header class="viewblock-header">
    <div class="viewblock-header_right">
      <div class="button-padding">
        <% if can? :update, @screen %>
          <%= link_to t('.add_schedule'), template_scheduling.new_schedule_path(:screen_id => @screen.id), :class => "btn" %>
        <% end %>
      </div>
    </div>

    <div class="default-padding">
      <h1><%= t('.scheduled_templates') %></h1>
    </div>
  </header>
  <div class="viewblock-cont">
    <% if @schedules.empty? %>
      <div class="default-padding">
        <div class="alert alert-block alert-zero">
          <p class="alert-heading"><%= t('.no_templates_scheduled_header') %></p>
          <p><%= t('.no_templates_scheduled_msg') %></p>
        </div>
      </div>
    <% else %>
        <ul class="list-stacked">
          <% @schedules.each do |schedule| %>
            <% if can? :read, schedule.screen %>
              <li>
                <% if can? :update, schedule.screen %>
                  <%= link_to t('.edit_schedule'), template_scheduling.edit_schedule_path(schedule), :class => "btn btn-small pull-right" %>
                <% end %>

                <h3><%= schedule.template.name %></h3>
                <div>
                  <%= image_tag main_app.preview_template_path(schedule.template, :height => 60, :format => :png), :style => "margin: 0px 1em 0px 0px;", :class => 'pull-left' %>
                  <p><%= t('concerto_template_scheduling.valid') %>: <%= l(schedule.start_time.to_date, :format => :short) %> - <%= l(schedule.end_time.to_date, :format => :short) %></p>
                  <p><%= t('.display')%>: <b><%= ConcertoTemplateScheduling::Schedule::DISPLAY_WHEN.key(schedule.config['display_when'].to_i) %></b></p>
                  <p><%= t('concerto_template_scheduling.when') %>: <%= schedule.config['from_time'] %> - <%= schedule.config['to_time'] %></p>
                  <p><%= t('concerto_template_scheduling.effective') %>: <b><%= schedule.is_effective? ? t(:yes) : t(:no) %></b></p>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
        <div class="default-padding">
          <p><%= t('.footer') %></p>
        </div>
      <% end %>
  </div>
</section>
<!-- TODO: 
  allow previewing the screen with a selected template
  -->